<h1>Lista de Empleados</h1>

<% @empleados.each do |empleado| %>
   <li><%= link_to empleado.nombres, empleado_path(empleado) %> - <%= empleado.apellidos %> - <%= empleado.cedula %> <%= link_to "Editar", edit_empleado_path(empleado) %> </li>
<% end %>

<hr>
<%= link_to "Agreagar empleado", new_empleado_path, class: "btn btn-primary" %>